.container {
    border: medium solid black;
    padding: 10px;
}
.OB.container {
    display: flex;
    flex-direction: column;
    padding: 25px;
    max-width: 200px;
    min-height: 100px;
}
.button.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-height: 200px;
}